# Let's Use Pandas!

## What is Pandas?

Pandas, as [the Anaconda docs](https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/) tell us, offers us "High-performance, easy-to-use data structures and data analysis tools." It's something like "Excel for Python", but it's quite a bit more powerful.

Let's first import pandas as pd.

In [1]:
import pandas as pd

from src.student_list import student_first_names
from src.student_caller import three_random_students, one_random_student

%load_ext autoreload
%autoreload 2

Now read in the heart dataset.

Pandas has many methods for reading different types of files! Note that here we have a .csv file.

Read about this dataset [here](https://www.kaggle.com/ronitf/heart-disease-uci).

Notice the name of the last column!

In [2]:
heart = pd.read_csv('heart.csv')

The output of the `.read_csv()` function is a pandas *DataFrame*, which has a familiar tabaular structure of rows and columns.

In [3]:
heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

Two main types of pandas objects are the DataFrame and the Series, the latter being in effect a single column––*plus index*––of the former.

But Pandas is built on top of NumPy, and we can always access the NumPy array underlying a DataFrame using `.values`.

In [ ]:
heart.values

What does .head( ) do? What do you learn about the dataset by using it here?

In [ ]:
heart.head()

What about .tail( )? What about .info( ) and .describe( )?

In [ ]:
heart.tail()

In [ ]:
heart.info()

In [ ]:
heart.describe()

What can we figure out / guess about the different columns?

Let's check the data type of one of our columns:

In [ ]:
heart['age'].dtype

Notice how we can isolate a column of our DataFrame simply by using square brackets together with the name of the column!

## Adding to a DataFrame

Here are two rows that our engineer accidentally left out of the .csv file, expressed as a Python dictionary:

In [ ]:
extra_rows = {'age': [40, 30], 'sex': [1, 0], 'cp': [0, 0], 'trestbps': [120, 130],
              'chol': [240, 200],
             'fbs': [0, 0], 'restecg': [1, 0], 'thalach': [120, 122], 'exang': [0, 1],
              'oldpeak': [0.1, 1.0], 'slope': [1, 1], 'ca': [0, 1], 'thal': [2, 3],
              'target': [0, 0]}
extra_rows

How can we add this to the bottom of our dataset?

In [ ]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.

extras = pd.DataFrame().from_dict(extra_rows)

In [ ]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter! We'll set that to True.

heart_augmented = pd.concat([heart, extras], ignore_index=True)

In [ ]:
# Let's check the end to make sure we were successful!

heart_augmented.tail()

How many different values does have slope have? What about sex? And target?

In [ ]:
# .value_counts()

heart['slope'].value_counts()

In [ ]:
heart['sex'].value_counts()

In [ ]:
heart['target'].value_counts()

Let's add a new column to our dataset called "test". Set all of its values to 0.

In [ ]:
heart['test'] = 0

I can also add columns whose values are functions of existing columns.

How could I add a column, called 'twice_age', that is double the age column?

In [ ]:
heart['twice_age'] = 2 * heart['age']

## Filtering

We can use filtering techniques to see only certain rows of our data. If we wanted to see only the rows for patients 70 years of age or older, we can simply type:

In [ ]:
heart[heart['age'] >= 70]

Use '&' for "and" and '|' for "or".

In [ ]:
# Display the patients who are 70 or over as well as the patients whose
# trestbps score is greater than 170.

heart[(heart['age'] >= 70) | (heart['trestbps'] > 170)]

## .loc( ) and .iloc( )

We can use .loc( ) to get, say, the first ten values of the age and trestbps columns:

In [ ]:
heart.loc[:9, ['age', 'trestbps']]

.iloc() is used for selecting locations in the DataFrame **by number**:

In [ ]:
heart.iloc[3, 0]

In [ ]:
# How would we get the same slice as just above by using .iloc() instead of .loc()?

heart.iloc[:10, [0, 3]]

## Statistics

I can use methods like `.mean()`, `.min()`, `.max()` to calculate quick statistics.

In [ ]:
heart['oldpeak'].mean()

In [ ]:
heart['thalach'].max()

I can also sort the values in a column by using `.sort_values()`

In [ ]:
heart['age'].sort_values()

## Your turn!

# Pair Exercise: 

Here are three datasets from dataportals.org. 

With a partner, take 10 minutes, and choose one of these urls:
        
- Chicago Data Portal, [food inspections](https://data.cityofchicago.org/Health-Human-Services/Food-Inspections/4ijn-s7e5/data)
- Seattle Data Portal, [public employee wages](https://data.seattle.gov/City-Business/City-of-Seattle-Wage-Data/2khk-5ukd)
- San Francisco Data Portal, [mobile food facility](https://data.sfgov.org/Economy-and-Community/Mobile-Food-Facility-Permit/rqzj-sfat)

- Export the csv data onto your local computer, then start exploring the data. Here are some suggestions for how to proceed.

    1. Create a dataframe using pd.read_csv('path_to_your_file/file.csv'
    2. View the head and tail of the DataFrame. 
    3. Call .info to check the total number of rows/columns, view the datatypes, and see if certain columns have n/a values
    4. Run value_counts on a categorical variable.
    5. Filter the data based on a categorical or continuous variable using the df[df.feature == 'value'] syntax.
    6. Create a new column from an old column
    7. If you have time, create a visualization using matplotlib.