In [3]:
import requests
import pandas as pd

url = 'https://data.austintexas.gov/resource/9t4d-g238.json'
response = requests.get(url)
animals = pd.DataFrame(response.json())
animals.head()

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype
0,A821019,Spot,2020-12-08T12:37:00.000,2020-12-08T12:37:00.000,2017-04-03T00:00:00.000,Adoption,Dog,Neutered Male,3 years,Pit Bull,White/Black,NaN
1,A824438,*Rose,2020-12-08T12:27:00.000,2020-12-08T12:27:00.000,2011-11-27T00:00:00.000,Adoption,Dog,Spayed Female,9 years,German Shepherd,Tan/Black,NaN
2,A825587,*Ludwig,2020-12-08T12:22:00.000,2020-12-08T12:22:00.000,2011-11-06T00:00:00.000,Adoption,Cat,Neutered Male,9 years,Domestic Medium Hair,Cream Tabby,Foster
3,A819626,NaN,2020-12-08T11:53:00.000,2020-12-08T11:53:00.000,2020-06-25T00:00:00.000,Adoption,Cat,Neutered Male,5 months,Domestic Shorthair,White/Black,Foster
4,A819624,NaN,2020-12-08T11:52:00.000,2020-12-08T11:52:00.000,2020-06-25T00:00:00.000,Adoption,Cat,Neutered Male,5 months,Domestic Shorthair,Black,Foster

# Methods for Re-Organizing DataFrames: .groupby()

Those of you familiar with SQL have probably used the GROUP BY command. (And if you haven't, you'll see it very soon!) Pandas has this, too.

The .groupby() method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [5]:
animals.groupby('animal_type').mean()

DataError: No numeric types to aggregate

Notice the object type [DataFrameGroupBy](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html) object.

#### .groups and .get_group()

In [ ]:
animals.groupby(['animal_type', 'outcome_type'])

In [ ]:
# This retuns each group indexed by the group name: I.E. 'Bird', along with the row indices of each value
animals.groupby('animal_type').groups

Once we know we are working with a type of object, it opens up a suite of attributes and methods. One attribute we can look at is groups.

In [ ]:
animals.groupby('animal_type').get_group('Dog')

We can group by multiple columns, and also return a DataFrameGroupBy object

In [ ]:
animals.groupby(['animal_type', 'outcome_type'])

In [ ]:
animals.groupby(['animal_type', 'outcome_type']).groups.keys()

#### Aggregating

In [ ]:
# Just like with single axis groups, we can aggregate on multiple axis
animals.groupby(['animal_type', 'outcome_type']).mean()

In [ ]:
# We can then get a specific group, such as Cats that were adopted
animals.groupby(['animal_type', 'outcome_type']).get_group(('Cat', 'Adoption'))

In [ ]:
# Other methods
animals.groupby(['animal_type', 'outcome_type']).first()

In [ ]:
animals.groupby(['animal_type', 'outcome_type']).last()